header {
    text-align: center;
    width: 100%;
    background-color: slategray;
    color: white;
    padding-bottom: 15px;
}

.cities {
    width:100%;

}

.forecastCard{
    
    background-color: royalblue;
    color: white;
    margin: 10px;
    border-radius: 5px;
}

li {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 5px;
}

#temp {
    width:100%;
}

ul {
    list-style: none;
}

.low {
    background-color: green;
    border-radius: 5px;
}

.moderate {
    background-color: yellow;
    border-radius: 5px;
}

.high {
    background-color: orange;
    border-radius: 5px;
}

.vHigh {
    background-color: red;
    border-radius: 5px;
}

.extreme {
    background-color: violet;
    border-radius: 5px;
}