header {
    text-align: center;
    width: 100%;
    background-color: slategray;
    color: white;
    padding-bottom: 15px;
}

.cities {
    width:100%;

}

.low {
    background-color: green;

}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.vHigh {
    background-color: red;
}

.extreme {
    background-color: violet;
}